{% for area in dataBusqueda %}
            <tr id="{{ area.id_area }}">
              <td>{{ area.id_area }}</td>
              <td>{{ area.nombre_area }}</td>
              
              <td width="10px">
                <a
                  href="{{ url_for('viewEditarEmpleado', id = area.id_area) }}"
                  class="btn btn-success btn-sm"
                  tooltip="Actualizar Registro">
                  <i class="bi bi-arrow-clockwise"></i>
                  Actualizar
                </a>
                <a
                  href="{{ url_for('borrarArea', id_area = area.id_area) }}"
                  class="btn btn-danger btn-sm"
                  data-bs-toggle="tooltip"
                  data-bs-offset="0,4"
                  data-bs-placement="top"
                  data-bs-html="true"
                  title="<span>Eliminar área {{ area.nombre_area }}</span>">
                  <i class="bi bi-trash3"></i>
                  Eliminar
                </a>
              </td>
            </tr>
            {% endfor %}